.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%
}
.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
}
.logo {
color: MediumAquamarine;
}
.logoimg {
  margin: 10px 15px 10px 25px;
  display: inline-flex;
  color: MediumAquamarine;
}

.nav a {
  justify-content: flex-end;
  display: inline-block;
  color: black;
  margin: 0px 10px;
}

.main {
  display: flex;
  border: 1px solid black;
}

.column {
  display: flex;
  border: 1px solid black;
}

.column.large {
  display: flex;
  max-width: 630px;
  border: 1px solid black;
  flex-wrap: wrap;
}

.medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
}

.small {
  display: flex;
  width: 240px;
  border: 1px solid black;
}

.large.headline, .monument, .orca, .earthspins, .burger, .research{
  position: relative;
  display: inline;
  width: 100%;
  border: 1px solid black;
}
