.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%
}
.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
}
.logo {
color: MediumAquamarine;
}
.logoimg {
  margin: 10px 15px 10px 25px;
  display: inline-flex;
  color: MediumAquamarine;
}

.nav a {
  justify-content: flex-end;
  display: inline-block;
  color: black;
  margin: 0px 10px;
}

.main {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
}

.column.large {
  display: flex;
  max-width: 630px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.column.medium {
  margin: 0px 20px;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.column.small {
  display: flex;
  width: 240px;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.lheadline {
  text-align: left;
  width: 100%;
  align-items: flex-start;
  height: 300px;
  position: relative;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-image: url("images/img-story-main.png");
}
.learthspins {
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url("images/style.png");
}
.lresearch {
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url("images/img-story-3.png");
}

.mcats {
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url("images/img-story-1.png");
}

.orca, .burger {
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  max-width: 300px;
}
.orca {
  margin-right: 13px;
}
.burger {
  margin-left: 13px;
}

.learthspins, .lresearch {
  margin-top: 70px;
  max-width: 300px;
  justify-content: space-between;
}
.learthspins{
  margin-left: 0px;
  margin-right: 13px;
}
.lresearch {
  margin-left: 13px;
}

.large.orca, .learthspins, .burger, .lresearch{
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  position: relative;
  display: inline-block;
  width: 100%;
}

.medium.headline, .cats, .brooklyn{
  position: relative;
  display: inline;
  width: 100%;
}

.small.cookie, .headline {
  align-content: center;
  position: relative;
  display: inline;
  width: 100%;
}

.small.headline {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}


.nb {
  padding: 10px 10px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

footer{
  height: 300px;
  width: 100%;
  background-color: MediumAquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subfoot {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.ftitle {
  border-right: 2px solid white;
  padding-right: 25px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 25px;
}

.fnav a {
  justify-content: flex-end;
  display: inline-block;
  font-family: Verdana;
  font-size: 12px;
  color: black;
  margin: 10px;
}

.fbottom {
  margin: 0 auto;
  font-family: Verdana;
  font-size: 12px;
}
